<div class="container">
  <div class="topContainer">
    <p class="logoTitle">蛙蛙搭車Go</p>
    <p class="logoText">Where can I take the bus?</p>
    <img class="logo" src="assets/frogStand.svg" alt="">
  </div>


  <main>
    <div class="circleContainer">
      <div class="greenBorder">
        <div (click)="routeTo(0)" class="greenCircle">
          找路線
        </div>
      </div>
    </div>

    <div class="circleContainer">
      <div class="greenBorder">
        <div (click)="routeTo(1)" class="greenCircle">
          找站牌
        </div>
      </div>
    </div>
  </main>

  <section>
    <div class="circleContainer">
      <div class="greenBorder">
        <div (click)="routeTo(2)" class="greenCircle">
          附近車站
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAYiKX31zRtkM0P05qkN3PM-jMFL3H7wtk
    &q=Space+Needle,Seattle+WA">
</iframe>

 -->
