<div class="container">
  <div class="topContainer">
    <p class="logoTitle">蛙蛙搭車Go</p>
    <p class="logoText">Where can I take the bus?</p>
    <img class="logo" src="assets/frogStand.svg" alt="">
  </div>


  <main>
    <div class="circleContainer">
      <div class="greenBorder">
        <div (click)="routeTo('searchLine')" class="greenCircle">
          找路線
        </div>
      </div>
    </div>

    <div class="circleContainer">
      <div class="greenBorder">
        <div (click)="routeTo('searchBusStop')" class="greenCircle">
          找站牌
        </div>
      </div>
    </div>
  </main>

  <section>
    <div class="circleContainer">
      <div class="greenBorder">
        <div (click)="routeTo('searchNearestBusStation')" class="greenCircle">
          附近車站
        </div>
      </div>
    </div>
  </section>
</div>
