@import "src/variable.scss";

.container {
  margin-top: 3vh;
  nav {
    ul {
      display: flex;
      gap: 3vw;
      li {
        box-sizing: border-box;
        border-radius: 1vw 1vw 0 0;
        background-color: $gray;
        color: $darkGreen;
        cursor: pointer;
        font-size: 4.102vw;
        padding: 2vh 3vw;
        white-space: nowrap;
        &.select {
          padding: 2vh 6vw;
          background-color: $lightGreen;
        }
      }
    }
  }
  main {
    background: transparent linear-gradient(180deg, #d0e6a5 0%, #e1e3a3 100%);
    border-radius: 0 0 1vw 1vw;
    min-height: 50vh;
    padding: 0 9.23vw;
    .title {
      color: $darkGreen2;
      cursor: pointer;
      font-size: 6.666vw;
      padding: 4vh 0 2.5vh 0;
      margin-left: 14.102vw;
      img {
        width: 16.88vw;
      }
      span {
        vertical-align: text-top;
      }
    }
    .inputBox {
      width: 100%;
      height: 8vh;
    }
    .boxStyle {
      background-color: $white;
      box-sizing: border-box;
      border: none;
      border-radius: 1vw;
      color: $darkGreen2;
      font-size: 6.158vw;
    }
    input {
      margin-top: 2vh;
      padding-left: 6.153vw;
    }
    #selectContainer {
      position: relative;
      &:after {
        content: "";
        border-style: solid;
        border-width: 1.75vh 1.2vh 1.75vh 1.2vh;
        border-color: $blue transparent transparent transparent;
        //通過定位將圖標放在合適的位置
        position: absolute;
        right: 7.179vw;
        top: 3.125vh;
        //給自定義的圖標實現點擊下來功能
        pointer-events: none;
      }
      select {
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding-left: 6.153vw;
        //隱藏select的下拉圖標
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
    .searchBtn {
      width: 100%;
      height: 8vh;
      background-color: $blue;
      border: none;
      border-radius: 1vw;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4vh;
      img {
        width: 11.5vw;
        height: 11.5vw;
      }
    }
    section.line {
      .directionContainer {
        height: 6vh;
        margin-top: 3vh;
        margin-bottom: 4vh;
        display: flex;
        button {
          width: 41.025vw;
          height: 100%;
          background-color: transparent;
          border: 1.5px solid $darkGreen;
          border-radius: 3px;
          color: $darkGreen;
          cursor: pointer;
          &:nth-of-type(1) {
            margin-right: 2.564vw;
          }
          &.select {
            background-color: $darkGreen;
            border: none;
            color: $gray;
          }
        }
      }
      .lineContainer {
        .line {
          height: 4vh;
          padding-bottom: 2vh;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .busStatus {
            width: 18.461vw;
            height: 100%;
            border-radius: 3px;
            font-size: 4.102vw;
            line-height: 100%;
            margin-right: 2.564vw;
            display: flex;
            justify-content: center;
            align-items: center;
            &.notMoving {
              background-color: $white;
              color: $darkGreen;
            }
            &.moving {
              background-color: transparent;
              border: 1.5px solid $darkGreen;
              color: $darkGreen;
            }
            &.approaching {
              background-color: $darkGreen;
              color: $white;
            }
          }
          .lineText {
            color: $darkGreen2;
            margin-right: auto;
            &.approaching {
              font-weight: bold;
            }
          }
          .circle {
            width: 4.871vw;
            height: 4.871vw;
            border:3px solid $darkGreen;
            border-radius: 50%;
            box-sizing: border-box;
            &.approaching {
              width: 7.179vw;
              height: 7.179vw;
              background-color: $darkGreen;
              border: none;
            }
          }
        }
      }
    }
  }
  .frogFail{
    width: 43.589vw;
    height: 43.589vw;
    display: block;
    margin: 7vh auto 3vh;
  }
  .frogFailText{
    color: $darkGreen2;
    font-size: 6.153vw;
    text-align: center;
  }
}
