<div class="container">
  <nav>
    <ul>
      <li (click)="switchTab('searchLine')" [ngClass]="{'selected':searchType==='searchLine'}">找路線</li>
      <li (click)="switchTab('searchBusStop')" [ngClass]="{'selected':searchType==='searchBusStop'}">找站牌</li>
      <li (click)="switchTab('searchNearestBusStation')"
        [ngClass]="{'selected':searchType==='searchNearestBusStation'}">附近車站</li>
      <li (click)="toHomePage()">回首頁</li>
    </ul>
  </nav>

  <main>
    <div class="title" (click)="toHomePage()">
      <img src="assets/frogStandWhite.svg" alt="">
      <span>蛙蛙搭車Go</span>
    </div>

    <section *ngIf="searchType==='searchLine'||searchType==='searchBusStop'">
      <div class="selectContainer">
        <select id="citySelector" class="boxStyle" name="">
          <option *ngFor="let city of cityNameArr" [value]='city'>{{city}}</option>
        </select>
      </div>
      <input type="text" class="boxStyle" [placeholder]='tipText' [(ngModel)]="inputText" style="margin-top: 2vh;">
      <button class="searchBtn" style="margin-top: 4vh;" (click)="search(searchType)">
        <img src="assets/search.svg" alt="">
      </button>

      <div *ngIf="searchType==='searchLine' && hasSearched && !isNull" class="searchLine">
        <div class="directionContainer">
          <button (click)="switchDirection(0)" [ngClass]="{'selected':direction===0}">
            往 {{busLines[0].goal}}
          </button>
          <button (click)="switchDirection(1)" [ngClass]="{'selected':direction===1}">
            往 {{busLines[1].goal}}
          </button>
        </div>

        <div class="lineContainer">
          <div class="line" *ngFor="let stop of busLines[direction].stopNames;let i = index">
            <div class="busStatus" [ngClass]="busLines[direction].busStatusClass[i]">
              {{busLines[direction].busStatus[i]}}
            </div>
            <span class="lineText" [ngClass]="busLines[direction].busStatusClass[i]">{{stop}}</span>
            <div class="circle" [ngClass]="busLines[direction].busStatusClass[i]"></div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="searchType==='searchNearestBusStation'">
      <button *ngIf="!hasSearched" class="searchBtn" style="margin-top: 8vh" (click)="search(searchType)">
        <img src="assets/pin_drop_white_24dp.svg" alt="">
      </button>

      <div *ngIf="hasSearched">
        <iframe width="100%" height="250px" style="border:0" loading="lazy" allowfullscreen [src]="googleMapUrl">
        </iframe>
        <div class="searchNearestBusStation">
          <div class="line" *ngFor="let station of nearestBusStations">
            <img src="assets/location_on_black_24dp.svg" alt="">
            <span>{{station.stationName}}</span>
            <span>-距離{{station.distance}}m</span>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="hasSearched && isNull" class="frogFail">
      <img src="assets/frogFail.svg" alt="">
      <p>沒有結果</p>
    </section>
  </main>
</div>
